<style>
    #updated_note {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: rgba(232, 232, 232, 0.489);
        margin-top: 20px;
        display: none;
    }

     #link_account_button {
        display: none;
    }
</style>


<hr>
<br>

<ul>Make sure you have added an Action in order to set the User Meta for Favorite Color in the ID Token</ul>

<img src="{{pic}}" width="200" height="200">

<body>

    <br>

    <form action="/update_profile" id="profile_form" method="POST">
        <p><b>Your Profile</b></p>
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" value="{{first_name}}" readonly />
        <label for="surname">Surname</label>

        <input type="text" name="surname" id="surname" value="{{surname}}" readonly />

        <br>
        <label for="favorite_color">Favourite Color</label>

        <input type="text" name="favorite_color" id="favorite_color" value="{{user_meta}}" selected />

        <br>
        <input type="submit" value="Update Favorite Color" />
        <br>
        <br>
        <input type="button" id="link_account_button" onclick="document.location='{{domain}}authorize?client_id={{client}}&response_type=id_token&redirect_uri={{baseUrl}}/link_accounts&nonce=123&scope=openid%20openid%20profile&connection=Username-Password-Authentication&prompt=login'" value="Link Your U/P Account"/>
        <br>
        <br>
        <pre id="updated_note"></pre>
        <br>

        <label for="last_updated">Last Updated</label>
        <input type="text" name="last_updated" id="last_updated" value="{{last_updated}}" readonly />

        <input type="text" name="access_token" id="access_token" value="{{accessToken}}" hidden />


        <br>
    </form>
    <hr>

</body>

<div>
    <a class="btn-small branded" href="/logout">Logout</a>
</div>

<script>

    function show_update() {
        var x = document.getElementById("updated_note");
        x.style.display = "block";
    }

    $(document).ready(function () {

        var y = document.getElementById("favorite_color");
        y.value = '{{user_meta}}'

        if('{{sub}}'.includes("google")) {
        var x = document.getElementById("link_account_button");
        x.style.display = "block";
        }

    })

    $("#profile_form").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                $('#updated_note').text(JSON.stringify(data, null, 2));
                show_update();
            },
            error: function (data) {
                $('#updated_note').text(JSON.stringify(data, null, 2));
            }
        });

    });

</script>