<style>
    #updated_note {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: rgba(232, 232, 232, 0.489);
        margin-top: 20px;
        display: block;
    }
</style>


<hr>
<br>

<img src="{{pic}}" width="200" height="200">

<body>

    <br>

    <form action="/update_profile" id="profile_form" method="POST">
        <p><b>Your Profile</b></p>

        <input type="text" name="first_name" id="first_name" value="{{first_name}}" readonly />
        <label for="first_name">First Name</label>

        <input type="text" name="surname" id="surname" value="{{surname}}" readonly />
        <label for="surname">Surname</label>
        <br>


        <input type="text" name="favorite_color" id="favorite_color" value="{{user_meta}}" readonly />
        <label for="favorite_color">Favourite Color</label>
        <br>

        <input type="text" name="last_updated" id="last_updated" value="{{last_updated}}" readonly />
        <label for="last_updated">Last Updated</label>

        <input type="text" name="access_token" id="access_token" value="{{accessToken}}" readonly />
        <label for="access_token">Your Access Token</label>

        <br>
        <br>

        <input type="button" value="Click to Update Favourite Colour" id="Edit" onclick="make_editable();" />

        <input type="submit" value="Submit"/>
    </form>
    <hr>
    <pre id="updated_note"> Profile Updated!..</pre>
</body>

<div>
    <a class="btn-small branded" href="/logout">Logout</a>
</div>

<script>

    function make_editable() {

            document.getElementById('favorite_color').removeAttribute('readonly');
};


    $("#profile_form").submit(function (e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var actionUrl = form.attr('action');

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
                $('#updated_note').text(JSON.stringify(data, null, 2));
            },
            error: function (data) {
                $('#updated_note').text(JSON.stringify(data, null, 2));
            }
        });

    });

</script>